.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr; 
  grid-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.left-section {
  padding-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  padding-left: 10px;
  padding-right: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.hours-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.card {
  display: flex;
  width: 150px;
  height: 50px;
  flex-direction: row-reverse;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 0.3s;
  border-color: #5654510f;
}

.hours-card {
  display: flex;
  width: 300px;
  height: 50px;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  align-items: left;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 0.3s;
  border-color: #0b01010f;
}

.card.selected,
.hours-card.selected {
  background-color: #fff4dd;
  border-color: #ecab07;
}

.card-image {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.divider {
  width: 2px;
  background-color: #c41e1e;
}

.right-section {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.bottom-text {
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.top-text {
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.card-number {
  margin-right: 10px;
  font-weight: bold;
  padding-left: 20px;
}

.hours-card-text {
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
}

.unit-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}

.unit-price-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  padding-left: 1px;
}

.unit-price-card {
  display: flex;
  width: 300px;
  height: 50px;
  flex-direction: column;
  margin: 5px;
  border: 2px solid transparent;
  align-items: left;
  justify-content: left;
  transition: background-color 0.3s;
}

.unit-price-card-text {
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  color: green;
}

.subtitle-card-text {
  text-align: left;
  margin-left: 10px;
  color: rgb(7, 7, 7);
}

.selected-unit-price {
  text-align: left;
  color: rgb(7, 7, 7);
  font-weight: bold;
  margin-top: 10px;
  font-size: x-large;
}

.proceed-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ecab07;
  color: #ffffff;
  border: none;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s;
}

.proceed-button:hover {
  background-color: #897542;
}

.proceed-button::after {
  content: ">";
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.divider-line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 5px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  padding-left: 20px;
  margin-left: auto;
}

.selected-card-details-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.selected-card-details {
  display: flex;
  text-align: left;
  color: #070707;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  position: relative;
}

.summary-price {
  display: flex;
  text-align: right;
  color: rgb(7, 7, 7);
  align-items: flex-end;
  justify-content: flex-end;
}

.order-summary-container {
  /* display: grid; */ 
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: 10px; */
  width: 100%;
}

.left-summary {
  display: flex;
  align-items: center;
}

.right-summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order-summary-border {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2px;
  background-color: #fff4dd;
  width: 100%;
  align-items: center;
  height: 50px;
  border: 2px solid transparent;
  transition: background-color 0.3s;
  border-color: #0b01010f;
}

.hours-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
