<div class="container">
  <div class="left-section">
    <p class="top-text">{{ cleanersText }}</p>
    <div class="card-container">
      <div
        class="card"
        *ngFor="let cardNumber of cardNumbers; let i = index"
        [ngClass]="{ selected: selectedImage === i + 1 }"
        (click)="selectImage(i + 1)"
      >
        <div class="card-number">{{ cardNumber }}</div>
        <img
          class="card-image"
          [src]="imageUrls[i]"
          [alt]="'Image ' + (i + 1)"
        />
      </div>
    </div>
    <p class="bottom-text">{{ hoursText }}</p>
    <br />
    <div class="hours-card-container">
      <div>
        <div *ngIf="selectedImage !== null">
          <div
            class="hours-card"
            *ngFor="let hour of getSelectedCardHours(selectedImage)"
          >
            <div class="hours-card-text">{{ hour }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="right-section"></div>
</div>
