<div class="container">
  <div class="left-section">
    <p class="top-text">{{ cleanersText }}</p>
    <div class="card-container">
      <div
        class="card"
        *ngFor="let cardNumber of cardNumbers; let i = index"
        [ngClass]="{ selected: selectedImage === i + 1 }"
        (click)="selectImage(i + 1)"
      >
        <div class="card-number">{{ cardNumber }}</div>
        <img
          class="card-image"
          [src]="imageUrls[i]"
          [alt]="'Image ' + (i + 1)"
        />
      </div>
    </div>
    <p class="top-text">{{ hoursText }}</p>
    <br />
    <div class="hours-container">
      <div class="hours-card-container">
        <ng-container *ngIf="selectedImage !== null">
          <div
            class="hours-card"
            *ngFor="
              let hour of getSelectedCardHours(selectedImage);
              let i = index
            "
            [ngClass]="{ selected: selectedHourCardIndex === i }"
            (click)="
              selectHourCard(
                hour.unitPrice,
                cardNumbers[selectedImage - 1],
                hour.hour,
                i
              )
            "
          >
            <div class="hours-card-text">{{ hour.hour }}</div>
          </div>
        </ng-container>
      </div>

      <div class="unit-price-card-container">
        <ng-container *ngIf="selectedImage !== null">
          <div
            class="unit-price-card"
            *ngFor="let hour of getSelectedCardHours(selectedImage)"
          >
            <div class="unit-price-card-text">
              AED
              {{ getHourlyPrice(hour.unitPrice, hour.minutes).toFixed(2) }} /{{
                hour.unitOfMeasure
              }}
            </div>
            <div class="subtitle-card-text">{{ hour.subTitle }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="right-section">
    <!-- Display the selected unit price -->
    <div class="selected-unit-price" *ngIf="selectedHourCardUnitPrice !== null">
      AED {{ selectedHourCardUnitPrice.toFixed(2) }}
    </div>
    <br />
    <button class="proceed-button">Proceed to Book</button>
    <br />
    <div class="divider-line"></div>
    <br />
    <div class="order-summary-container">
      <div class="order-summary-border">
        <div class="left-summary">
          <div
            class="selected-card-details"
            *ngIf="selectedCardDetails !== null"
          >
            {{ selectedCardDetails }}
          </div>
        </div>
        <div class="right-summary">
          <!-- Right side content -->
          <div>
            <div class="summary-price" *ngIf="selectedCardDetails !== null">
              AED {{ selectedHourCardUnitPrice?.toFixed(2) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
