.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.left-section {
  border-right: 1px solid #000;
  padding-right: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
}

.hours-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.card {
  display: flex;
  width: 150px;
  height: 50px;
  flex-direction: row-reverse;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 0.3s;
  border-color: #5654510f;
}

.hours-card {
  display: flex;
  width: 250px;
  height: 50px;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  align-items: left;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 0.3s;
  border-color: #0b01010f;
}

.card.selected {
  background-color: #f6e2bd;
  border-color: #ecab07;
}

.card-image {
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.divider {
  width: 2px;
  background-color: #c41e1e;
}

.right-section {
  padding-left: 20px;
}

.bottom-text {
  margin-left: 10px;
  margin-bottom: 10px;
}

.top-text {
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-number {
  margin-right: 10px;
  font-weight: bold;
  padding-left: 20px;
}

.hours-card-text {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.unit-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}

.unit-price-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  padding-left: 20px;
}

.unit-price-card {
  display: flex;
  width: 300px;
  height: 50px;
  flex-direction: column;
  margin: 5px;
  border: 2px solid transparent;
  align-items: left;
  justify-content: left;
  transition: background-color 0.3s;
}

.unit-price-card-text{
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  color: green; 
}

.subtitle-card-text{
  text-align: left;
  margin-left: 10px;
  color: rgb(7, 7, 7); 
}
